@import "../_Variables";

.article-grid-item {
  display: flex;
  flex-direction: column;
  padding: 1em;
  min-height: 200px;
  @include border(rgba($dark, 0.2));

  .grid-item-title {
    h2 {
      margin: 0 0 0.5em 0;
    }

    @import "Tag";
  }

  .grid-item-footer {
    display: block;

    margin-top: auto;
  }

  &:hover {
    cursor: pointer;
    @include border(rgba($default, 1));
  }
}