@import "src/Assets/Styles/Variables";

.page-article {
  .article-title {
    background-color: rgba($default, 0.1);
    border-bottom: 2px solid $default;
    padding: 0.5em;

    .article-meta {
      margin-top: 0.5em;
    }
  }

  .article-content {
    margin-top: 1em;
    padding: 0.5em;
  }
}