@import "Variables";

.navigation {
  background-color: $dark;
  color: $light;
  height: 60px;
  border-bottom: 2px solid rgba($default, 1);

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;

    .navigation-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      width: 20%;

      .navigation-item {
        flex: 1;
      }
    }

    .navigation-item {
      flex: 1;

      a {
        transition: color $transition-time ease;
        &:hover {
          color: $default;
        }
      }
    }
  }
}